<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hellow world! {{titile}} <br/>
    이름: {{name}} <br/>
    아이디 : {{user_id}}  <br/>
    패스워드 : {{user_pw}}
    <br/>
    <form method="post" id="" action="http://localhost:3400">
        이름:<input type="text" name="name"> <br> <!--name = 정성진-->
        아이디:<input type="text" name="user_id"> <br>
        패스워드:<input type="password" name="user_pw"> <br>
        <input type="submit" value="버튼"> <!--<button> 버튼 </button>-->
            <!--name = 정성진&  user_id=ㅁㅁㅁ& user_pw=ㄴㅁㅇ 링크이동 -->
        <!-- Html 
        form 안에 있는 input 내용을 acrion 쪽에다가 링크이동을 시킨다 -->
    </form>
    
</body>
</html>