<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/join">
        <!-- method:post 로 받겠다 action:/join 으로 넘어가겠다 -->
    이름:<input type="text" name="username" placeholder="이름"><br>
    아이디: <input type="text" name="userid" placeholder="아이디"><br>
    패스워드: <input type="password" name="userpw" placeholder="패스워드"><br>
    <input type="submit" value="버튼">
</form>
    
</body>
</html>